<section id="about" class="section">
    <div>
    
        <header>
        <h2>Biography</h2>
        </header>
    
        <div>
            <div>
                <img src="assets/images/home/biography.jpg" width="100%" alt="Surendra Mourya">
            </div>
            <div>
                <p>I have done Bachelor of Engineering (B.E. Computers, 2011, Mumbai University) having 8 years of working experience on Microsoft technology stack in with organisation such as Thyssenkrupp, Capgemini and L&T Infotech.</p>
                <p>Worked on development and support of SharePoint Online/2016/2013/2010 and Office 365 applications and solutions which includes out of box and customs applications. Worked in Agile Model and used Team Foundation Server, Jira to keep track of the User Stories</p>
                <p>Worked on <strong>SharePoint Apps, On premise PHA, Flows, web jobs and timer jobs</strong>. Experienced working on <strong>Canvas and Model driven PowerApps</strong>. Experience in working on ADO.Net, ASP.Net, C#.Net, jQuery,javascript, HTML, CSS, <strong>Angular JS and Angular 8</strong>.</p>
                <p>Experience of working with small team and large teams in collaborative manner. Can gel easily with team members and work on improving the team performance.</p>
                <p>In my spare time, I love spend time with my family, travel places, read books.</p>
            </div>
        </div>
    
    </div>
    
</section>