<section id="intro" class="section">
    <div class="container">
        <header>
            <h2 class="alt">My name is Surendra Mourya. I am a Software professional skilled in Microsoft technology stack. My competent professional work environments are Sharepoint Online and On premises, Angular, Javasript/TypeScript/Jquery, SQL, HTML 5 and CSS, Office 365(PowerApps, PowerAutomate)...</h2>
        </header>
    
        <div>
            <button mat-raised-button color="primary" (click)="navService.target.next('contact')">
                <mat-icon fontSet="fa" fontIcon="fa-arrow-circle-down"></mat-icon>Let's meet
            </button>
        </div>
    </div>
</section>